In [ ]:
Answers for assginment:

In [ ]:
1) ‘hello’(string) and -87.8(float)  values , (*,  -, /, +)->expressions

In [ ]:
2) String is the combination of words within double quotes(“apple”)/single quotes(‘apple’) or triple quotes(“”” black apple  “””), some integer numbers can be considered as string if those numbers were given in single/double quotes like, a = ‘2’. We can concatenate with normal string, can do the multiple operations, can’t perform the division and subtraction.

In [ ]:
example for string:

In [7]:
a = 'apple'

In [8]:
b = "ball"

In [9]:
a + b

'appleball'

In [3]:
"""
'hello world!
welcome to python3
'
"""

"\n'hello world!\nwelcome to python3\n'\n"

In [11]:
c = a*3

In [12]:
c

'appleappleapple'

In [ ]:
variable:
    : It is a temporary memory, we can assign values like integer, characters, strings, we can refer those by its temporary address, and variable will take memory size depends upon our allocation, we can reuse the variable by its name, n number of times. We can assign the values(‘it can be strings, integers, float,..etc’) for the processing, by calling that assigned address we can to operations, like print,..etc

In [ ]:
example for variable

In [18]:
a = 'apple'

In [ ]:
in the above example, we assign the values of apple into a, if we call this variable, it will give results.

In [19]:
a

'apple'

In [ ]:
3)different data types:

In [ ]:
Integer: it will take number for the operations, like addition, subtraction, multiplication, and division. Ex: a =2

In [ ]:
Float: it will looks like integer but will take the decimal points in its values. Ex: a = 2.0

In [ ]:
String: String is the combination of words within quotes. Ex: a = ‘apple’.

In [ ]:
complex: it is a data type, with the combination of real number and imaginary number

In [ ]:
ex: 5+3j , here, 5 is a real part and 3j is the imaginary part

In [ ]:
list: list is used to store multiple values at a time, it is mutable, duplicates allowed, we can store, integer, float

In [21]:
l = [1,'a',3+5j]

In [22]:
type(l)

list

In [ ]:
tuple: tuple is used to store multiple values at a time, it is immutable, duplicates allowed

In [23]:
t = (1,1,1,12,32)

In [24]:
t

(1, 1, 1, 12, 32)

In [25]:
type(t)

tuple

In [ ]:
set: set is used to store multiple values at a time, immutable, and duplicates not allowed.

In [26]:
aset = {1,2,3}

In [27]:
type(aset)

set

In [ ]:
dictinary: dictinary is used to store multiple key and value pairs at a single time, mutable, key value is unique, mutable.

In [28]:
type({})

dict

In [30]:
adict = {'a':1, 2:5}

In [31]:
adict['a']

1

In [29]:
4)Expressions are the combination of variables, operations and will give the result and it will represent something like number, string. Any of the value can be an expression.
A = ‘cat’ --> it will assign the value to A, but mere ‘cat’ is simple expression, by this simple expression we are not getting to be evaluate.

In [ ]:
5) Expressions are the combination of variables, operations, symbols and will give the result

In [33]:
3+5*2

13

In [ ]:
Statement is the programming instruction, will do some actions.

In [34]:
print('hello world')

hello world

In [ ]:
6)

In [35]:
bacon = 22

In [36]:
bacon + 1

23

In [ ]:
7)

In [39]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
string concatenation happend in the above example

In [ ]:
string multiplication happend in the below example, other than these, division and subtraction is not applicable on string.

In [38]:
'spam' * 3

'spamspamspam'

In [ ]:
8)We can define, variable name as starting with letters, and underscore, but we shouldn’t start with numbers, if we do so, it will throw an error “syntax error”

In [42]:
eggs = 5

In [43]:
100 = '1'

SyntaxError: cannot assign to literal (<ipython-input-43-e1bcbecec2de>, line 1)

In [44]:
eggs

5

In [ ]:
9)

In [ ]:
For integer operations int() function will be excuted, we can use this function for type casting

In [45]:
int(10.5)

10

In [ ]:
For Float operations float() function will be excuted, we can use this function for type casting

In [47]:
float(1)

1.0

In [ ]:
For string operations str() function will be excuted, we can use this function for type casting

In [49]:
str(2)

'2'

In [ ]:
10)

In [50]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
it will only concatenate the string to string operations only, so here we have to type cast the 99 into the str, then do this operation

In [52]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'